<div>
<%= render 'form', {btn_label: 'Add Service'} %>
</div><br>

<h1>Service's List</h1>
<h1 class="col-md-6">Total Budget($): <%= @wedding.budget%></h1>
<h1 class="col-md-6">Total Cost($): <%= Service.total_price%></h1>

<table class="table" id="services_best">
  <tr>
    <td class="name"><h3>Category</h3></td>
    <td><h3>Budget($)</h3></td>
    <td><h3>Vendor</h3></td>
    <td><h3>Vendor Price($)</h3></td>
    <td><h3>Status</h3></td>
    <td><h3>Manage Service</h3></td>
  </tr>
  <% @services.each do |t|%>
    <tr id="<%= dom_id(t)%>">
      <td>
        <% t.tags.sort.each do |tag| %>
          <%=link_to "#{tag.name}", tag_path(tag.id)%>
          <%= " | " if (tag != t.tags.last)%>
        <%end%>
      </td>
      <td class="budget" ><%= best_in_place t, :budget %></td>
      <td class="vendor"><%= best_in_place t, :vendor %></td>
      <td class="price"><%= best_in_place t, :price, data: {id: dom_id(t)} %></td>
      <td class="status" style="<%= t.status_display_color %>">
        <%= t.status%>
      </td>
      <td>
        <%= link_to edit_service_path(t) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to service_path(t), method: :delete do %>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      <td>
    </tr>
  <%end%>
</table>
