<div class="col-md-12" id="<%= dom_id(note)%>">
  <div class="row">
    <div>
      <p><%=best_in_place note, :body, as: :textarea %></p>
      <p class="note-footer">Last modified at: <%= note.updated_at %> by: <%= note.user.first_name %></p>
    </div>

    <div>
      <%# if (can? :manage, @message) || (can? :delete, message) %>
        <%= link_to note_path(note), method: :delete,
                                     remote: true,
                                     data: { confirm: 'Are you sure you want to delete this note?'},
                                     class: 'pull-right' do %>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
        <%= link_to do %>
          <span class="glyphicon glyphicon-pencil pull-right"></span>
        <%end%>
      <%#end%>
    </div>
  </div>
  <hr>
</div>
