<% if @guest.errors.messages.present? %>
  <%=  @guest.errors.messages.values.join(", ")%>
  <%else%>
  <%=  @guest.errors.full_messages.join(", ")%>
  <%end%>
<div class="form-inline">
  <%= form_for  @guest, url: wedding_guests_path(@wedding) do |g| %>
    <div class="form-group">
      <%=g.label "Guest's Full Name" %>
      <%=g.text_field :name %>&nbsp;&nbsp;
    </div>
    <div class="form-group">
      <%= g.check_box :rsvp, {}, '1', nil %>
      <%= g.label 'RSVP'%>&nbsp;&nbsp;
    </div>
    <div class="form-group">
      <%= g.check_box :plus_one, {}, '1', '0'%>
      <%= g.label 'Plus one?'%>&nbsp;&nbsp;
    </div>
  <%= g.submit btn_label, class: 'btn btn-default' %>
  <% end %>
</div>
