<div>
<%= render 'partials/wedding_nav', {wedding: @wedding} %>
</div><br>
<div class="col-md-9 form-guest">
  <%= render 'form', {btn_label: 'Add Guest'} %>
</div>
<div class="col-md-3 search-form">
  <%= form_tag(wedding_guests_path(@wedding), method: "get", id: "form-group") do %>
    <%= text_field_tag :search, params[:search] %>
    <%= button_tag do %>
      <span class="glyphicon glyphicon-search search"></span>
    <% end %>
  <% end %>
</div><br><br>

<h1 class="title">Guest's List</h1>
<h1 class="col-md-6 title">Total Guests: <%= Guest.total_guests %></h1>
<h1 class="col-md-6 title">
  Confirmed Guests: <span class="confirmed-guest-count">
                      <%= @guests.confirmed_guests %>
                    </span>
</h1>

<ul class="nav nav-tabs">
  <li class="<%= params[:confirmed] ? '' : 'active' %>"><a class="hired-tab" href="/weddings/<%= @wedding.id %>/guests">All Guests</a></li>
  <li class="<%= params[:confirmed] ? 'active' : '' %>"><a class="hired-tab" href="?confirmed=true">Confirmed Guests</a></li>
</ul>

<table class="table toggle-table" id='guests_best'>
  <tr class="table-header">
    <td class="names"><h3>Guest Name</h3></td>
    <td><h3>Guest Confirmation</h3></td>
    <td><h3>Manage Guest</h3></td>
  </tr>
  <% @guests.each do |g|%>
    <tr id="<%= dom_id(g)%>">
      <div>
        <td class="names" id="hopscotch">
          <%=best_in_place g, :name%>
          <strong>
            <%= best_in_place g, :plus_one, as: :checkbox, collection: ['<span class="glyphicon glyphicon-user"></span>'.html_safe,
              '<span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-user"></span>'.html_safe]  %>
          </strong>
        </td>
      </div>
      <td class="rsvp-change">
        <%=best_in_place g, :rsvp,
                            as: :checkbox,
                            collection: [
                              '<span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red;"></span>'.html_safe,
                              '<span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green;"></span>'.html_safe ],
                            data: {id: dom_id(g)} %>
        <span class="plus-one" style="display: none;">
          <%= g.plus_one %>
        </span>
      </td>
      <td>
          <a href="#"><span class="glyphicon glyphicon-pencil" id="glyphicon-pencil-guest"></span></a>
        <%= link_to guest_path(g), method: :delete do %>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      <td>
    </tr>
  <%end%>
</table>
<div>
  <% if params[:search].present? %>
    <% if @guests.present?%>
      <% @guests %>
      <a href="/weddings/<%=@wedding.id%>/guests">Guests' List</a>
      <%else%>
        <p>There is no Guest containing the term(s):  <%= params[:search] %>.</p>
        <a href="/weddings/<%=@wedding.id%>/guests">Guests' List</a>
      <%end%>
  <% end %>
</div>
