<div class="form-inline">
  <%= form_for  @gift, url: wedding_gifts_path(@wedding) do |g| %>
    <div class="form-group">
      <%= g.label 'Item name' %>
      <%= g.text_field :item %>
    </div>
    <div class="form-group">
      <%= g.label :link %>
      <%= g.text_field :link %>
    </div>
    <div class="form-group">
      <%= g.label :description %>
      <%= g.text_area :description %>
    </div>
    <div class="form-group">
      <%= g.label :quantity %>
      <%= g.text_field  :quantity %>
    </div>
    <div class="form-group">
      <%= g.file_field :image, multiple: :true %>
      <%= g.hidden_field :image_cache %>
    </div>
  <%= g.submit btn_label, class: 'btn btn-default' %>
    </br>
      </br>
        </br>
  <%end%>
</div>
