<div class="col-md-12">
<%= render 'shared/wedding_nav', {wedding: @wedding} %>
</div><br>
<div class="col-md-12">
  <%= render 'form', {btn_label: 'Add Gift'} %>
</div>

<div class="col-md-12">
  <h1 class="title">Wedding Registry</h1><br>
  <table class="table">
    <tr>
      <td>Item</td>
      <td>Link</td>
      <td>Description</td>
      <td>Quantity</td>
      <td>Manage Gifts</td>
    </tr>
  <% @gifts.each do |g| %>
    <tr>
      <td>
        <%= best_in_place g, :item %>
      </td>
      <td>
        <a href="<%= g.link %>">Product Example</a>
      </td>
      <td><%= best_in_place g, :description, as: :textarea %></td>
      <td><%= best_in_place g, :quantity %></td>
      <td>
        <%= link_to edit_gift_path(g) do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <%= link_to gift_path(g), method: :delete do %>
          <span class="glyphicon glyphicon-trash"></span>
        <%end%>
      </td>
    </tr>
  <% end %>
</table>
</div>
