<div class="col-md-12">

  <div>
  <%= render 'partials/wedding_nav', {wedding: @wedding} %>
  </div>

  <h1><%= @wedding.name %></h1>


  <div class="col-md-12 wedding_info">
    <div class="pull-right">

      <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>

      <%= link_to wedding_path(@wedding), method: :delete do %>
        <span class="glyphicon glyphicon-trash"></span>
      <%end%>
    </div>
    <p>
      Name: <h4><strong><%= best_in_place @wedding, :name %></strong></h4>
      Budget($): <h4><strong><%= best_in_place @wedding, :budget %></strong></h4>
      Date: <h4><strong><%= best_in_place @wedding, :date %></strong></h4>
      Admins:
      <%if @admin %>
        <ul>
          <% @admin.each do |a| %>
            <% if a.user != current_user %>
              <li><%= a.email %>
                <%= link_to admin_path(a), method: :delete do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <%end%>
              </li>
            <%end%>
          <% end %>
        </ul>
      <% end %>
    </p>

    <button type="button" name="button" class="update-form-btn btn btn-default">Update the Form</button>
    <div class="update-form">
      <%= render 'update_form', {wedding: @wedding} %>
    </div>
  </div>
  <div class="col-md-12 wedding-pic-info">
    <% if @wedding.images.present? %>
    <%= image_tag @wedding.images[0].url(:large), class: 'pic' %>
    <% end %>
    <%= @wedding.story %>
  </div>
</div>
