<!DOCTYPE html>
<html>
  <head>
    <title>I Do</title>
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%#= stylesheet_link_tag    'application',
      "https://fonts.googleapis.com/css?family=Dancing+Script", media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag    'application', href="https://fonts.googleapis.com/css?family=Raleway", media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <main class="container">
      <% if notice || alert %>
        <div class="alert alert-<%= notice ? 'success' : 'danger'%> alert-dismissable"
             role="alert">
          <%= notice || alert %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
      <div class="row background">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
